/* CSS fun here */
body {
    background-color: cornflowerblue;

    margin: 0px 0px;
    /*
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    */
}

.img-clipper {
    overflow: hidden;
    width: 1400px;
    height: 660px;
}

.img-zoomies {
    margin: auto;
    animation: zoom-in-zoom-out 8s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        scale: 100%;
    }
    50% {
        scale: 200%;
    }
    100% {
        scale: 100%;
    }
}
